# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nose2-junit.xml
coverage.xml
*.cover
hypothesis/

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# pyright
typings/

# VS Code
.vscode/

# IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env
.venv/
venv/

# Node
node_modules/
